.form {
  /* display: none; */
  width: 100%;
  height: 100vh;
}

.form-card {
  margin-top: 30%;
  width: 100%;
  padding: 104px 106px;
  background-color: var(--background-color);
}

.form-card__title {
  position: relative;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center end;
  margin-bottom: 44px;
}

.form-card__title::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: var(--text-color);
}

.form-card__action {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.form-card__close {
  background-image: url("../../img/cross.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
}

.form-card__form {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.form-card__body {
  display: grid;
  grid: auto / repeat(2, 1fr);
  column-gap: 24px;
  padding: 30px;
  margin-bottom: 32px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.form-card__right {
  display: grid;
  grid-template-columns: 1fr;
}

.form-card__label {
  padding-left: 10px;
  margin-bottom: 5px;
}

.form-card__input {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 12px;
  height: 40px;
  width: 100%;
  background-color: var(--background-color);
  border-radius: 5px;
  border-color: transparent;
}

.form-card__input_margin  {
  margin-bottom: 25px;
}

.form-card__input:focus {
  background-color: var(--active-color);
}

.form-card__custom {
  height: 100%;
  margin-bottom: 30px;
}

.form-card__custom-checkbox {
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.form-card__custom-checkbox input[type="checkbox"] {
  display: none;
}

.form-card__custom-checkbox label::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--background-color);
  border-radius: 5px;
}

.form-card__custom-checkbox input[type="checkbox"]:checked + label::before {
  background-image: url("/img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-card__custom-checkbox input[type="checkbox"]:checked ~ input[type="text"] {
  background-color: var(--active-color);
}

.form-card__input_commit {
  content: "";
  position: absolute;
  top: 22px;
  right: 0;
  width: 80%;
}

.form-card__input_description {
  height: 112px;
}

.form-card__btn {
  padding-right: 28px;
  background: transparent;
}

.form-card__submit {
  padding: 10px 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: var(--button-color);
  color: var(--background-color);
  border-radius: 6px;
}

.form-card__add {
  padding: 10px 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  background-color: var(--button-color);
  color: var(--background-color);
  border-radius: 6px;
}

.form-card__total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.form-card__count {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: none;
  color: var(--text-color);
}

.form-card__count > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--button-color);
}

@media (max-width: 768px) {
  .form-card__body {
    grid: auto / 1fr;
  }

  .form-card__total {
    height: 100px;
    grid: auto / 1fr;
    row-gap: 35px;
    justify-items: center;
  }

  .form-card {
    padding: 54px 56px;
  }
}