* {
  padding: 0;
  margin: 0;
  /* border: 0; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

label {
  cursor: pointer;
  display: block;
  user-select: none;
}

button {
  cursor: pointer;
  border: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  background-color: var(--color-black);
  color: var(--text-color);
}

.container {
  max-width: 580px;
  margin: 0 auto;
}